@mixin app-button($background-color) {
  padding: .6em 1em;
  text-align: center;
  background: $background-color;
  border-radius: .5em;
  outline: none;
  user-select: none;
  
  &:hover {
    background: lighten($background-color, 15%);    
  }

  &:focus, &:active {
    background: darken($background-color, 20%);
  }

  &[disabled] {
    background: darken($background-color, 30%);
    pointer-events: none;
  }
}

@mixin shake-animation($duration) {
  animation: shake $duration cubic-bezier(.36,.07,.19,.97) both;
    
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}
