// Colour scheme
$primary: #ffc419;
$primary-text: #2d2d2d;
$error: #f65959;
$error-text: darken($error, 10%);
$success: #58bf7e;
$success-text: darken($success, 10%);
$white: #fafafa;

// Transition lengths
$short: .3s;
$medium: .5s;
$long: 1s;
